{% extends "base.html" %}

{% block title %}Reset Your Password{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm" style="max-width: 400px; margin: auto;">
                <div class="card-body">
                    <h5 class="card-title mb-4">Reset your password</h5>
                    <p class="card-text">
                        We've emailed you instructions for setting your password.
                    </p>
                    <p class="card-text">
                        If you don't receive an email, please make sure you've entered the address you registered with.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
