.expectedprofitcolumn { 
    background-color: #f0feff !important;
}



a {
    color:#142aab;
    text-decoration:none;
}

a:hover {
    color:#256695;
}
/* styles.css */

.actions-column {
    width: 200px;
}


