.expectedprofitcolumn { 
    background-color: #e9f3fc !important;  /* Color de fondo suave azul */
}



a {
    color:#142aab;
    text-decoration:none;
}

a:hover {
    color:#256695;
}
/* styles.css */

.actions-column {
    width: 200px;  /* Ajusta este valor según sea necesario */
}

