{% extends "base.html" %}
{% block title %}Products{% endblock title %}
{% block content %}
<div class="container mt-4">
 {% if not customers %}
    <div class="alert alert-warning text-center mt-4">
        <p>No customers found. Please add new Products.</p>
        <a href="{% url 'customer:customer_create' %}"
           class="btn btn-primary">Add New Product</a>
        <div class="mt-3"> <i class="bi bi-arrow-down-circle" style="font-size: 2rem;"></i>
        </div>
    </div>
    {% else %}
    <div class="d-inline-flex justify-content-between w-100 align-items-center">
        {% if category %}
            <div class="d-inline-flex justify-content-between w-25 align-items-center">
                <h2>Products tagged with "{{category.name}}"</h2>
                <a href="/">
                    <button type="button" class="btn btn-outline-primary">
                        <i class="bi bi-arrow-90deg-left"></i>
                    </button>
                </a>
            </div>
        {% else %}
            <h2>Product List</h2>
        {% endif %}
    </div>

    <div class="d-flex justify-content-between align-items-center mt-3">

        <form class="form-inline" method="get" action="">
            <div class="form-group mb-2">
                <label for="order_by" class="mr-2">Order by:</label>
                <select class="form-control" name="order_by" id="order_by">
                    <option value="name" {% if request.GET.order_by == "name" %}selected{% endif %}>Name</option>
                    <option value="price" {% if request.GET.order_by == "price" %}selected{% endif %}>Price</option>
                    <option value="high_price" {% if request.GET.order_by == "high_price" %}selected{% endif %}>High Price</option>
                    <option value="currency" {% if request.GET.order_by == "currency" %}selected{% endif %}>Currency</option>
                    <option value="quantity" {% if request.GET.order_by == "quantity" %}selected{% endif %}>Quantity</option>
                    <option value="expected_profit" {% if request.GET.order_by == "expected_profit" %}selected{% endif %}>Expected Profit</option>
                    <option value="cost" {% if request.GET.order_by == "cost" %}selected{% endif %}>Investment</option>
                    <option value="created" {% if request.GET.order_by == "created" %}selected{% endif %}>Created</option>
                    <option value="updated" {% if request.GET.order_by == "updated" %}selected{% endif %}>Updated</option>
                </select>
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="asc" name="ordering" value="asc" {% if request.GET.ordering == "asc" %}checked{% endif %} onclick="ensureSingleCheck(this)">
                    <label class="form-check-label" for="asc">Ascending</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="desc" name="ordering" value="desc" {% if request.GET.ordering == "desc" %}checked{% endif %} onclick="ensureSingleCheck(this)">
                    <label class="form-check-label" for="desc">Descending</label>
                </div>
            </div>
            <div class="d-inline-flex w-100 justify-content-between">
                <button type="submit" class="btn btn-primary mb-2">Sort</button>
                <a href=""><button type="reset" class="btn btn-secondary mb-2">Reset</button></a>
                </div>
        </form>

        <!-- Search Form -->
        <form class="form-inline" method="get" action="">
            <div class="form-group mb-2">
                <input type="text" class="form-control" name="q" placeholder="Search" value="{{ request.GET.q }}">
            </div>
            <div class="d-inline-flex w-100 justify-content-between">
            <button type="submit" class="btn btn-primary mb-2">Search</button>
            <a href="/"><button type="reset" class="btn btn-secondary mb-2">Reset</button></a>
            </div>
            
        </form>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Categories</th>
                    <th>Price</th>
                    <th>High Price</th>

                    <th>Quantity</th>
                    <th>Investment</th>
                    <th class="expectedprofitcolumn">Expected Profit</th>

                    <th>Created</th>
                    <th>Updated</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td><a href="{% url "product:product_detail" product.id %}">{{ product.name }}</a></td>
                    <td>
                        {% for category in product.categories.all %}
                            <a href="{% url "product:product_list_by_category" category.slug %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ product.price }} {{ product.currency }}</td>
                    <td>{{ product.high_price }} {{ product.currency }}</td>

                    <td>{{ product.quantity }} {{product.unit}}{{ product.quantity|pluralize }}</td>
                    <td>{{ product.cost|floatformat:2 }} {{ product.currency}}</td>
                    <td class="expectedprofitcolumn">{{ product.expected_profit|floatformat:2 }} {{ product.currency}}</td>

                    <td>{{ product.created }}</td>
                    <td>{{ product.updated }}</td>
                    <td class="actions-column">
                        <a href="#" class="btn btn-secondary btn-sm">Resell</a>
                        <a href="{% url "product:product_edit" product.id %}" class="btn btn btn-sm">Edit</a>
                        <a href="{% url "product:product_delete" product.id %}" class="btn btn btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.previous_page_number }}&items_per_page={{ items_per_page }}&order_by={{ request.GET.order_by }}&ordering={{ request.GET.ordering }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for num in products.paginator.page_range %}
                {% if products.number == num %}
                    <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                {% elif num > products.number|add:'-5' and num < products.number|add:'5' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}&items_per_page={{ items_per_page }}&order_by={{ request.GET.order_by }}&ordering={{ request.GET.ordering }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.next_page_number }}&items_per_page={{ items_per_page }}&order_by={{ request.GET.order_by }}&ordering={{ request.GET.ordering }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
<!-- Floating Action Button -->
<a href="{% url "product:product_add" %}" class="btn btn-primary btn-lg rounded-circle shadow"
style="position: fixed; bottom: 20px; right: 20px; width: 60px; height: 60px; display: flex; justify-content: center; align-items: center;">
    <i class="bi bi-plus" style="font-size: 24px;"></i>
</a>
    {% endif %}
<script>
function ensureSingleCheck(element) {
    var checkboxes = document.querySelectorAll('input[type="checkbox"][name="ordering"]');
    checkboxes.forEach(function (checkbox) {
        if (checkbox !== element) checkbox.checked = false;
    });
}
</script>

{% endblock content %}
